{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    {% if teachers != '' %}
    <table width="100%">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Subject</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url({{ teacher.avatar_url }})"></span>
                    {{ teacher.name }}
                </td>
                <td>{{ teacher.subjects }}</td>
                <td>
                    <a href="/teachers/{{ teacher.id }}">show</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>
        There are no registered teachers yet.
        </p>
    {% endif %}
</div>

{% endblock content %}

