{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    {% if students != '' %}
    <table width="100%">
        <thead>
            <tr>
                <th>Student</th>
                <th>Subject</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <span style="background-image: url({{ student.avatar_url }})"></span>
                    {{ student.name }}
                </td>
                <td>{{ student.subjects }}</td>
                <td>
                    <a href="/students/{{ student.id }}">show</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="register">
        <p>
        There are no registers yet.
        </p>
        <a href="/students/create">Register now!</a>
    </div>
    {% endif %}
</div>

{% endblock content %}

